<div class=" section-{{ section.id }} gradient  color-{{ section.settings.section_color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  {% render 'breadcrumbs' %}
</div>

{% style %}
  .section-{{ section.id }} {
    border-top: 1px solid var(--primary, #333);
    border-bottom: 1px solid var(--primary, #333);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


{% endstyle %}

<style>
  .h {
    justify-content: flex-start;
    align-items: center;
  }
</style>


{% schema %}
  {
    "name": "Breadcrumbs",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ]
  }
{% endschema %}