<slider-component class="slider-mobile-gutter scroll-trigger animate--slide-in">
  <div class="image-box page-width-desktop">
  <img src="{{section.settings.image_box | img_url: 'master'}}" alt="">
</div>
</slider-component>

{% schema %}
{
 "name": "画像ボックス",
 "settings": [
  {
   "type": "image_picker",
   "id": "image_box",
   "label": "画像を選ぶ"
  }
 ],
  "presets": [
    {
      "name": "画像ボックス"
    }
  ]
}
{% endschema %}

{%- style -%}
@media screen and (min-width: 750px) {
.image-box {
  /* padding:0 200px; */
}
.image-box img {
    width: 100%;
}
}
@media screen and (max-width: 749px) {
  .image-box {
    width:100%;
    padding:0 20px;
}
.image-box img {
  width:100%;
}
}
{%- endstyle -%}