<slider-component class="slider-mobile-gutter page-width-desktop scroll-trigger animate--slide-in">
  <div class="search-modal__content search-modal__content-bottom" tabindex="-1">
  <predictive-search class="search-modal__form" data-loading-text="読み込み中…">
    <form action="/search" method="get" role="search" class="search search-modal__form">
    <div class="field">
      <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="" role="combobox" aria-expanded="false" aria-owns="predictive-search-results" aria-controls="predictive-search-results" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" aria-activedescendant="" placeholder="">
      <label class="field__label" for="Search-In-Modal">作品名・画家・カテゴリーを入力</label>
      <input type="hidden" name="options[prefix]" value="last">
      <button type="reset" class="reset__button field__button hidden" aria-label="検索ワードをクリアする">
        <svg class="icon icon-close" aria-hidden="true" focusable="false">
          <use xlink:href="#icon-reset">
        </use></svg>
      </button>
      <button class="search__button field__button" aria-label="作品名・画家・カテゴリーを入力">
        <svg class="icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
        </use></svg>
      </button>
    </div><div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search="">
        <div class="predictive-search__loading-state">
          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </div>

      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span></form>
    </predictive-search>
</div>
</slider-component>


{% schema %}
{
    "presets": [
      {
        "name": "検索窓"
      }
    ]
  }
{% endschema %}

{%- style -%}
.search-modal__content {
  padding: 0;
  justify-content: flex-start;
  width: calc(100% - 8rem / var(--font-body-scale));
  margin: auto;
  margin-top: 2em;
}
{%- endstyle -%}