.blog-articles {
  display: contents;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--small
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--small
    .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--medium
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--medium
    .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--large
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--large
    .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--small
    .ratio
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--small
    .ratio
    .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--medium
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--medium
    .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage
    > *:nth-child(3n + 1)
    .article-card__image--large
    .ratio::before,
  .blog-articles--collage
    > *:nth-child(3n + 2):last-child
    .article-card__image--large
    .ratio::before {
    padding-bottom: 82.5rem;
  }
}

.blog__title-main {
  text-align: center;
}

.blog__title {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.blog__title h1 {
  color: var(--primary, #333);
  /* h2 */
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 150% */
  text-transform: uppercase;
}

.blog__title p {
  color: var(--primary, #333);
  text-align: justify;
  /* font-size-base */
  font-family: Noto Serif JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
}
.article__blogs {
  border-top: 1px solid #333;
  padding: 12px 0px;
  display: flex;
  align-items: center;
}
.article__blogs-left {
  width: 100%;
}
.article__main {
  display: flex;
  gap: 12px;
  padding-bottom: 8px;
}
.article__time p {
  margin: 0px;
  color: var(--primary, #333);
  /* oswald-xsm */
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.6px;
}
.article__title p {
  margin: 0px;
  color: var(--secondary, #7b7b7b);
  /* oswald-xsm */
  font-family: Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.6px;
}
.article__excerpt p {
  margin: 0px;
  color: var(--primary, #333);
  /* font-size-base */
  font-family: Noto Serif JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
}
.blog__tags {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  padding: 47px 0;
  gap: 12px;
}
.blog__tags p {
  margin: 0px 20px;
  color: var(--secondary, #7b7b7b);
  /* oswald-base */
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
  cursor: pointer;
}

.blog__tags p:first-child { 
    margin-left: 0px;
}

.blog__tags p:last-child { 
    margin-right: 0px;
}

.blog__tags p:hover,
.blog__tags p.active {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.article__blogs-left a {
  text-decoration: none;
}
.detail_blog {
  border-bottom: 1px solid #333;
  margin-bottom: 6rem;
}
.pagination-wrapper {
  margin: 0 0 12rem 0;
}


@media screen and (max-width: 550px) { 
    .blog__tags {
        display: flex;
        justify-content: center;
        padding: 16px 0;
        gap: 8px;
      }
      .blog__tags p {
        margin: 0px 12px;
        color: var(--secondary, #7b7b7b);
        /* oswald-base */
        font-family: Oswald;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.8px;
        cursor: pointer;
      }


      .blog__tags {
        overflow: auto;
        display: flex;
        justify-content: unset;
        margin-bottom: 3rem;
      }
      .blog__tags p:first-child { 
        margin-left: 0px;
    }
    
    .blog__tags p:last-child { 
        margin-right: 0px;
    }
    
      /* width */
      .blog__tags::-webkit-scrollbar {
        height: 0.4rem;
      }
    
      /* Track */
      .blog__tags::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
      }
    
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #888;
      }
    
      /* end style for scroll  */
    
}
